.topHeader {
	margin-left: 50px;
	width: 375px;
	color: gray;
}

.title {
	margin-left: 50px;
	width: 375px;
	border: 2px solid peachpuff;
	background-color: peachpuff;
	color: gray;
}

.cost {
	margin-left: 50px;
}

.details {
	margin-left: 50px;
	font-size: 1.5em;
}

.image {
	margin-left: 100px;
}